.dropdown-content {
    
    overflow: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 10px;
}

.dropdown-wrapper:hover .dropdown-content {
    display: block;
}