



.project-list {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.project-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: full-width;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project-item h2 {
    font-weight: bold;
    font-size: 18px;
}

.project-title{
    font-weight: bold;
    font-size: 18px;
}

.project-name {
    color: #4a90e2;
    font-weight: bold;
    font-size: 18px;
}

.line{
    border-top: 1px solid #412121;
    margin: 10px 0;
}

.edit-delete {
    display: flex;
    gap: 10px;

    margin-top: 10px;
}
.delete-btn {
    background-color: #d44141;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn {
    background-color: #4a90e2;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}